/** CSS STYLE **/

/*Подключение шрифтов*/

/*Neucha Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
/*Open Sans Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*Задание фона*/

header::before {
    content: ''; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;   
    background: no-repeat url(../images/background.png);
    background-size: cover;
    opacity: 0.06;
}


/*Позиционирование блоков*/

.container {
    position: relative;
    margin: 100px auto;
}

.h1-pos {
    margin: 0 0;
}

.head-txt-pos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 225px;
}

.head-img-pos {
    position: absolute;
    top: -55px;
    right: -270px;  
    height: 525px;
}

.head-btn-pos {
    margin-top: 38px;
    margin-left: 570px; 
}

.head-btn {  
    display: inline-block;
    border: none;
    font-weight: 700;
    padding: 11px 24px;   
}


/*Типы используемых шрифтов*/

.font-neucha {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
}

.font-opensans {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
}


/*Размеры используемых шрифтов*/

.fs-72 {
    font-size: 72px;   
}

.fs-60 {
    font-size: 60px;
}

.fs-16 {
    font-size: 16px;   
}


/*Цвет фона и шрифта*/

.color-white {
    color: #ffffff;
}

.color-primary {
    color: #fe8a02;
}

.color-text {
    color: #2a2626;
}

.bg-color-light {
    background-color: #f5f4f0;
}

.bg-color-secondary {
    background-color: #908d8b;
}

.bg-color-dark {
    background-color: #b09a81;
}

.bg-color-primary {
    background-color: #fe8a02;
}

.bg-color-primarydark {
    background-color: #42413c;
}


/*Ширина блоков*/

.w-1110 {
    width: 1110px;
}

.w-540 {
    width: 540px;
}

.w-149 {
    width: 149px;
}

