/** CSS STYLE **/

/*Подключение шрифтов*/

/*Neucha Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
/*Open Sans Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*Шрифт по умолчанию*/

body {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    color: #2a2626;
}

/*Дополнительный шрифт*/

.f-neucha {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
}

/*Фрейм для видео*/

iframe {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}


/*Задание фона для header и секций*/

header,
#ikea-effect,
#distortion-of-novelty,
#errors-in-planning {
    background-color: #f5f4f0;
}

#premature-optimization,
#hyperbolic-depreciation {
    background-color: #b09a81;
}

header::before {
    content: ''; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat url(../images/background.png);
    background-size: cover;
    opacity: 0.1;
}


/*Изображение для кнопки в footer*/

.footer-btn::before {
    content: ''; 
    position: absolute;
    width: 22px;
    height: 22px;
    top: 14px;
    left: 24px;
    background-image: url(../images/send.svg);
    background-position: center center;
}

/*Стили для отдельных элементов*/

.container {
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1110px;
}

.header-btn {  
    display: inline-block;
    border: none;
    padding: 11px 23px 12px 24px;
    line-height: 25.6px;
}

.nav-txtblock {
    flex-basis: 302px;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
}

.footer-input {
    display: inline-block;
    border: none;
    line-height: 20.96px;
    color: rgba(0, 0, 0, 0.8);
}

.footer-btn {
    display: inline-block;
    border: none;
}


/*флексы*/

.d-fl {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.fl-wrap {
    flex-wrap: wrap;
}

.fldir-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.fl-grow-5 {
    flex-grow: 5;
}

.fl-basis-540 {
    flex-basis: 540px;
}

.fl-basis-548 {
    flex-basis: 548px;
}

.fl-basis-532 {
    flex-basis: 532px;
}

/*Позиционирование*/

.top-45 {
    top: 45px;
}

.right--270 {
    right: -270px;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.t-center {
    text-align: center;
}


.float-r {
    float: right;
}

.float-l {
    float: left;
}


/*Внешние отступы*/

.m-0 {
    margin: 0 0;
}

/*сверху*/
.mt-185 {
    margin-top: 185px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-100 {
    margin-top: 100px;
}

.mt--84 {
    margin-top: -84px;
}

.mt-76 {
    margin-top: 76px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-43 {
    margin-top: 43px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-38 {
    margin-top: 38px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-21 {
    margin-top: 21px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-0 {
    margin-top: 0;
}

/*справа*/
.mr--270 {
    margin-right: -270px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-0 {
    margin-right: 0;
}

/*снизу*/
.mb-55 {
    margin-bottom: 55px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-33 {
    margin-bottom: 33px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-9 {
    margin-bottom: 9px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-0 {
    margin-bottom: 0;
}

/*слева*/
.ml-570 {
    margin-left: 570px;
}

.ml-166 {
    margin-left: 166px;
}

.ml-125 {
    margin-left: 125px;
}

.ml-95 {
    margin-left: 95px;
}

.ml-55 {
    margin-left: 55px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-24 {
    margin-left: 24px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-0 {
    margin-left: 0;
}


/*Внутренние отступы*/
/*сверху*/
.pt-200 {
    padding-top: 200px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-24 {
    padding-top: 24px;
}

.pt-17 {
    padding-top: 17px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-5 {
    padding-top: 5px;
}


/*справа*/
.pr-30 {
    padding-right: 30px;
}

.pr-24 {
    padding-right: 24px;
}

.pr-10 {
    padding-right: 9px;
}


/*снизу*/
.pb-100 {
    padding-bottom: 100px;
}

.pb-18 {
    padding-bottom: 18px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-0 {
    padding-bottom: 0;
}

/*слева*/
.pl-24 {
    padding-left: 24px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-10 {
    padding-left: 10px;
}


/*Размеры используемых шрифтов*/

.fs-72 {
    font-size: 72px; /*h1*/  
}

.fs-64 {
    font-size: 64px; /*h2*/ 
}

.fs-60 {
    font-size: 60px; /*h2*/ 
}

.fs-52 {
    font-size: 52px; /*h2*/ 
}

.fs-34 {
    font-size: 34px; /*h3*/ 
}

.fs-24 {
    font-size: 24px; /* */ 
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;   
}

.fs-13 {
    font-size: 13px;   
}

.fs-12 {
    font-size: 12px;   
}



/*Толщина шрифта*/

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

/*Межстрочный интервал*/

.lh-72 {
    line-height: 72px;
}

.lh-40 {
    line-height: 40.8px;
}


/*Цвет шрифта*/

.c-white {
    color: #ffffff;
}

.c-white-50 {
    color: #d7ccc0;
}

.c-brown {
    color: #b09a81;
}

.c-primary {
    color: #fe8a02;
}

.c-text {
    color: #2a2626;
}

.c-secondary {
    color: #908d8b;
}

/*Цвет фона*/

.bg-c-white {
    background-color: #ffffff;
}

.bg-c-light {
    background-color: #f5f4f0;
}

.bg-c-secondary {
    background-color: #908d8b;
}

.bg-c-dark {
    background-color: #b09a81;
}

.bg-c-primary {
    background-color: #fe8a02;
}

.bg-c-primarydark {
    background-color: #42413c;
}


/*Ширина блоков*/

.w-1110 {
    width: 1110px;
}

.w-540 {
    width: 540px;
}

.w-548 {
    width: 548px;
}

.w-532 {
    width: 532px;
}

.w-502 {
    width: 502px;
}


.w-350 {
    width: 350px;
}

.w-394 {
    width: 394px;
}

.w-302 {
    width: 302px;
}

.w-149 {
    width: 149px;
}

.w-70 {
    width: 70px;
}


/*Высота блоков*/

.h-525 {
    height: 525px;
}

.h-405 {
    height: 405px;
}

.h-310 {
    height: 310px;
}

.h-348 {
    height: 348px;
}

.h-196 {
    height: 196px;
}

.h-50 {
    height: 50px;
}
