/** CSS STYLE **/

/* Подключение шрифтов */

/* Neucha Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* Open Sans Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Значения по умолчанию */
* {
  margin: 0;
  padding: 0;
}

body {

  overflow-x: hidden;

  color: var(--c-text);
  font-weight: 400;
  font-size: 16px;

  font-family: 'Open Sans';
  line-height: 25.6px;
}

/* Переменные, цвет текста и фона */
:root {
  --c-white: #fff;
  --c-white50: #d7ccc0;
  --c-brown: #b09a81;
  --c-primary: #fe8a02;
  --c-text: #2a2626;
  --c-secondary: #908d8b;
  --bg-c-white: #fff;
  --bg-c-light: #f5f4f0;
  --bg-c-primary: #fe8a02;
  --bg-c-secondary: #908d8b;
  --bg-c-dark: #b09a81;
  --bg-c-primarydark: #42413c;
}

/* Цвет шрифта */
.c-white {
  color: var(--c-white);
}

.c-white-50 {
  color: var(--c-white50);
}

.c-brown {
  color: var(--c-brown);
}

.c-primary {
  color: var(--c-primary);
}

.c-text {
  color: var(--c-text);
}

.c-secondary {
  color: var(--c-secondary);
}

/* Цвет фона */
.bg-c-white {
  background-color: var(--bg-c-white);
}

.bg-c-light {
  background-color: var(--bg-c-light);
}

.bg-c-secondary {
  background-color: var(--bg-c-secondary);
}

.bg-c-dark {
  background-color: var(--bg-c-dark);
}

.bg-c-primary {
  background-color: var(--bg-c-primary);
}

.bg-c-primarydark {
  background-color: var(--bg-c-primarydark);
}

/* Стиль текста в заголовках */
.h1 {
  font-weight: 400;
  font-size: 72px;
  font-family: 'Neucha';
  line-height: 86.4px;
}

.h2 {
  font-weight: 400;
  font-size: 60px;
  font-family: 'Neucha';
  line-height: 72px;
}

.h2-2 {
  font-weight: 400;
  font-size: 52px;
  font-family: 'Neucha';
  line-height: 62.4px;
}

.h3 {
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha';
  line-height: 40.8px;
}

.h3-2 {
  padding: 5px 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}

.h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
}

/* Стиль текста в параграфах */
.p1 {
  font-weight: 400;
  font-size: 64px;
  font-family: 'Neucha';
  line-height: 70.5px;
}

.p2 {
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha';
  line-height: 40.8px;
}

.p3 {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Neucha';
  line-height: 28.8px;
}

.p4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
}

.p5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
}

/* Стиль для общего "хранилища" */
.container {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Позиционирование */
.pos-relative {
  position: relative;
}

.d-fl {
  display: flex;
}

.jc-between {
  justify-content: space-between;
}

.fl-wrap {
  flex-wrap: wrap;
}

.fldir-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.t-center {
  text-align: center;
}

/* Перевод текста в верхний регистр */
.uppercase {
  text-transform: uppercase;
}

/* Ширина колонки текста */
.col {
  flex-basis: 540px;
}

/* Внешние отступы */

/* сверху */
.mt-185 {
  margin-top: 185px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-76 {
  margin-top: 76px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-27 {
  margin-top: 27px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-16 {
  margin-top: 16px;
}

.mt--184 {
  margin-top: -184px;
}

/* справа */
.mr-30 {
  margin-right: 30px;
}

/* снизу */
.mb-55 {
  margin-bottom: 55px;
}

.mb-9 {
  margin-bottom: 9px;
}

/* слева */
.ml-125 {
  margin-left: 125px;
}

.ml-55 {
  margin-left: 55px;
}

/* Внутренние отступы */

/* сверху */
.pt-200 {
  padding-top: 200px;
}

/* справа */
.pr-10 {
  padding-right: 9px;
}

/* Задание фона для header */
.header-bg::before {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: no-repeat url(../images/background.png);
  background-size: cover;
  opacity: 0.1;

  content: '';
}

/* Задание фона для секций */
.section-bg::before {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: no-repeat url(../images/background.png);
  background-size: cover;
  opacity: 0.1;

  content: '';
}

/* Реакция на наведение мыши */

/* на карточку */
.a-card:hover {
  color: #fff;

  cursor: pointer;

  --bg-c-light: #fe8a02;
  --c-primary: #fff;
  --c-text: #fff;
}

/* на кнопку */
.a-btn:hover {
  cursor: pointer;

  --bg-c-primary: #ea7600;
}

/* --------------- HEADER --------------- */

/* Стили для картинки */
.header-img {
  position: absolute;

  top: 45px;
  right: -270px;

  width: 1082px;
  height: 525px;
}

/* Стили для кнопки */
.header-btn {
  display: inline-block;
  width: 148px;
  height: 49px;

  color: var(--c-white);

  font-weight: 700;

  line-height: 25.6px;
  text-align: center;

  background-color: var(--bg-c-primary);

  border: none;
}

/* ---------------- MAIN ---------------- */

/* Стиль для карточки когнитивного искажения */
.card {
  flex-basis: 302px;
  padding: 24px;

  text-decoration: none;
}

/* Фрейм для видео */
.iframe {
  width: 919px;
  height: 569px;
  margin-top: 30px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Тень для картинок */
.img-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* --------------- FOOTER --------------- */

/* Изображение для кнопки */
.footer-btn::before {
  position: absolute;

  top: 15px;
  left: 20px;

  width: 23px;
  height: 23px;

  background-image: url(../images/send.svg);
  background-position: center center;

  content: '';
}

/* Стиль для поля ввода */
.footer-input {
  display: inline-block;

  width: 423px;
  padding-left: 15px;

  color: rgba(117, 117, 117, 0.8);

  font-weight: 400;
  font-size: 13.1px;
  line-height: 20.96px;

  border: none;
}

/* Стиль для кнопки */
.footer-btn {
  position: relative;

  display: inline-block;

  width: 62px;
  height: 50px;

  border: none;
}
